.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-message {
  position: absolute;
  color: red;
}



.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

.list {
  margin-top: 30px;
}

.all_input {
  display: flex;
}



.todo_title {
  display: flex;
}


.title {
  margin-top: 0px;
  margin-left: 25px;
  display: flex;
  align-items: center;
}
